.header {
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    border: solid 0.5px;
    /* background-color: rgb(179, 247, 247); */
    background-color: white
  }
  
  .header > li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
  }